mixin arrowBtn(title , href)
  a.button--arrow(href= href)
    span.arrow-in-circle
      svg#projects-link(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='94.135px', height='35.316px', viewbox='0 0 94.135 35.316', enable-background='new 0 0 94.135 35.316', xml:space='preserve')
        line(fill='#FFFFFF', stroke='#FFFFFF', stroke-miterlimit='10', x1='59.318', y1='18.848', x2='0', y2='18.848')
        circle(fill='none', stroke='#FFFFFF', stroke-miterlimit='10', cx='76.476', cy='17.658', r='17.158')
        polyline(fill='none', stroke='#FFFFFF', stroke-width='1', stroke-miterlimit='10', points='73.975,22.848 79.455,17.471 73.498,12.468')
    span= title
