/* Settings – used with preprocessors and contain font, colors definitions, etc. */
@import 'settings/fonts.css';
@import 'settings/colors.css';

/* Tools – globally used mixins and functions. It’s important not to output any CSS in the first 2 layers. */

/* Functions */

/* Mixins */

/* Generic – reset and/or normalize styles, box-sizing definition, etc. This is the first layer which generates actual CSS. */
@import 'generic/box-model.css';
@import 'generic/scroll-behavior';

/* Elements – styling for bare HTML elements (like H1, A, etc.). These come with default styling from the browser so we can redefine them here. */
@import 'elements/anchor.css';
@import 'elements/img.css';
@import 'elements/body.css';

/* Objects – class-based selectors which define undecorated design patterns, for example media object known from OOCSS */

/* Components – specific UI components. This is where majority of our work takes place and our UI components are often composed of Objects and Components */

/* Utilities – utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class */
@import 'utilities/floats.css';
@import 'utilities/lists.css';
@import 'utilities/relative-height.css';
@import 'utilities/full-background.css';
@import 'utilities/text-align.css';
@import 'utilities/screen-reader.css';
@import 'utilities/text-transform.css';
@import 'utilities/display.css';
