.banner-list{
  list-style: none;
  color: #fff;
  padding-left: 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  bottom: 60px;
  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  li::before{
    content: '';
    margin-right: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
  }
  li{
    a{
      color: #fff;
    }
  }
}
