.tabs-initialized {
  & > * {
    display: none;
  }
  & > .active {
    display: block;
  }
  .statement__content {
    display: block;
  }
}
[data-component="tabs"] {
  li {
    img {
      transition: opacity .5s;
    }
    &.active {
      img {
        opacity: 1;
      }
    }
    img {
      opacity: 0;
      &.active {
        opacity: 1;
        z-index: 10;
      }
    }
  }
}
